<div class="container mt-5">
    <h2>Mes rendez-vous en attente</h2>
  
    <div *ngIf="rendezvous.length > 0; else noRendezvous">
      <div *ngFor="let rendezvousItem of rendezvous" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ rendezvousItem.date }} - {{ rendezvousItem.heure }}</h5>
          <p class="card-text">Client: {{ rendezvousItem.clientId }}</p>
          <p class="card-text">Statut: {{ rendezvousItem.statut }}</p>
          
          <div class="d-flex justify-content-between">
            <button 
              class="btn btn-success"
              (click)="updateStatutRendezVous(rendezvousItem.id, 'confirmé')">
              Confirmer
            </button>
            <button 
              class="btn btn-warning"
              (click)="updateStatutRendezVous(rendezvousItem.id, 'libre')">
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noRendezvous>
      <p>Aucun rendez-vous en attente.</p>
    </ng-template>
    <div>
    <!-- Bouton de déconnexion -->
  <button class="btn btn-danger" (click)="deconnecter()">Se Déconnecter</button>
</div>
  </div>
  